#editors,#out{
    height: 100%;
    width: 50%;
    display: inline-block;
}
body{
    margin: 0%;
}
#html,#css{
    height: 50%;
    width: 100%;
    display: inline-block;
}
#html{
    background-color: blue;
}
#css{
    background-color: brown;
}
#iframe{
    display: inline-block;
    background-color: red;
    height: 100%;
    width: 100%;
}
#container{
    height: 100%;
    width: 100%;
}
