html,body { margin: 0; padding: 0; height: 100%; width: 100%; overflow: hidden;}
#editor{
    height: 100%;
    width: 50%;
    display: inline-block;
}
#html{
    height: 50%;
    width: 100%;
    
    display: block;
}
#css{
    height: 50%;
    width: 100%;
    /* background-color: orange; */
    display: block;
}
#iframe{
    height: 100%;
    width: 50%;
    display: inline-block;
}
#container{
    height: 100%;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
}